<div class="policy">
  <h1>Política de Login para o App de Lista de Compras de Supermercado</h1>
  
  <div class="section">
    <h2>2. Coleta de Dados</h2>
    <p>
      a. O aplicativo solicitará as permissões necessárias para acessar informações básicas do perfil do usuário, como nome e endereço de e-mail, após o login ser feito com sucesso.<br>
      b. O aplicativo não coletará informações adicionais sem o consentimento explícito do usuário.
    </p>
  </div>
  
  <div class="section">
    <h2>3. Uso dos Dados</h2>
    <p>
      a. As informações coletadas durante o processo de login serão utilizadas exclusivamente para fornecer os serviços do aplicativo, como criar e gerenciar listas de compras pessoais.<br>
      b. Os dados pessoais dos usuários não serão compartilhados com terceiros sem o consentimento do usuário, a menos que seja exigido por lei.
    </p>
  </div>
  
  <div class="section">
    <h2>4. Segurança</h2>
    <p>
      a. O aplicativo implementará medidas de segurança adequadas para proteger as informações pessoais dos usuários contra acesso não autorizado, divulgação ou modificação.<br>
      b. O aplicativo utilizará métodos de criptografia para proteger os dados transmitidos entre o aplicativo e os servidores do Google ou do Facebook durante o processo de login.
    </p>
  </div>
  
  <div class="section">
    <h2>5. Gerenciamento de Conta</h2>
    <p>
      a. Os usuários terão a opção de desvincular sua conta do Google ou Facebook a qualquer momento.<br>
      b. Os usuários também poderão excluir permanentemente sua conta no aplicativo, o que resultará na exclusão de todas as informações pessoais associadas a ela.
    </p>
  </div>
  
  <div class="section">
    <h2>6. Atualizações da Política</h2>
    <p>
      a. Qualquer alteração nesta política de login será comunicada aos usuários por meio de uma notificação no aplicativo ou por e-mail, conforme apropriado.<br>
      b. Os usuários serão solicitados a revisar e concordar com as atualizações antes de continuar usando o aplicativo.
    </p>
  </div>
</div>